@use "../utils/variables" as v;

.cards {
    display: flex;
    flex-direction: column;
    margin: auto;
        @media (min-width: v.$breakpoint-desktop) {
            max-width: 1100px;
            padding: 0;
        }
    &__container {
        background-color: v.$background-color;
        padding: 5.5rem 2rem 6.5rem 2rem;
        @media (min-width: v.$breakpoint-desktop) {
            spadding: 3rem 2rem 3rem 2rem;
        }
    }
    &__elements {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @media (min-width: v.$breakpoint-tablet) {
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
    &__link {
        display: block;
        @media (min-width: v.$breakpoint-tablet) {
            flex-basis: 48%;
            }
        }
    & .card {
        display: flex;
        flex-direction: column;
        max-width: 490px;
        height: 251px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 15px 0px #0000001A;
        border-radius: 15px;
        position: relative;
        &__badge::before {
            content: "Nouveau";
            color: #008766;
            font-size: 1.4rem;
            text-align: center;
            padding-top: .6rem;
            position: absolute;
            background-color: #99E2D0;
            box-shadow: 0px 2px 4px 0px #00000026;
            height: 29px;
            width: 80px;
            top: 1.5rem;
            right: 1.5rem;
            border-radius: 2px;
        }
        & img {
            width: 100%;
            height: 174px;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }
        &__content {
            display: flex;
            flex-direction: column;
            padding: 1.2rem 0 1.2rem 1.3rem;
            position: relative;
            &::after {
                content: "\f004";
                font-family: "Font Awesome 5 Free";
                position: absolute;
                font-size: 2rem;
                font-weight: 500;
                color: #101010;
                right: 2rem;
                top: 2rem;
            }
        }
        &__title {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
        &__subtitle {
            font-size: 1.7rem;
            font-weight: 300;
            margin: 0;
        }
    }
}
