.nav {
    min-height: 440px;
    /*padding: 5rem 2rem 7rem 2rem;*/
    padding-left: 2rem;
    padding-right: 2rem;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 266px;
    }
    &__element {
        display: flex;
        background-color: #F6F6F6;
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius: 20px;
        padding: 2.8rem 0 2.8rem 3.5rem;
        & .picto {
            color: #7E7E7E;
            margin-right: 2rem;
        }
        & .fa-mobile-screen-button {
            margin-right: 2.7rem;
        }
        & .fa-list-ul {
            margin-right: 2.3rem;
        }
    }
}