@use "../utils/variables" as v;

.nav {
    display: flex;
    flex-direction: column;
    @media (min-width: v.$breakpoint-desktop) {
        max-width: 1100px;
        margin: auto;
        padding-left: 0;
    }
    &__container {
        padding: 5rem 2rem 7rem 2rem;
    }
    &__list {
        counter-reset: liste;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding-left: 1rem;
        @media (min-width: v.$breakpoint-desktop) {
            flex-direction: row;
        }
    }
    &__element {
        background-color: #F6F6F6;
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius: 20px;
        padding-top: 2.6rem;
        padding-bottom: 2.6rem;
        position: relative;
        &::before {
            counter-increment: liste 1;
            content: counter(liste) " ";
            background-color: v.$primary-color;
            padding: 0.1rem 0.6rem;
            border-radius: 20px;
            color: #FFFFFF;
            position: absolute;
            left: -1rem;   
        }
        @media (min-width: v.$breakpoint-desktop) {
            width: 322px;
        }
    }
    &__icon {
        color: #7E7E7E;
        margin-left: 3.4rem;
        margin-right: 2rem;
    }
}
