@keyframes spinner {
    to {
       transform: rotate(1turn);
    }
 }
 @keyframes dots {
    to {
       clip-path: inset(0 -34% 0 0);
    }
 }
 

 @keyframes container {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
 }
