*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* equivalent of 10px on the root element */
}

.main-container {
  width: 100%;
  /*@media (min-width: v.$breakpoint) {
     width: 1440px;
  }*/
}

body {
  display: flex;
  justify-content: center;
  font-family: "roboto", sans-serif;
  font-size: 1.6em; /* base size for all elements 16px equivalent */
  font-weight: 500;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  padding: 0.4em;
  margin: 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.explore {
  text-align: center;
  min-height: 300px;
  padding: 4rem 0 6rem 0;
  background-color: #F6F6F6;
}
.explore__text {
  font-size: 1.8rem;
  color: #353535;
  font-weight: 300;
}
.explore__button {
  font-size: 1.6rem;
  color: #FFFFFF;
  width: 218px;
  height: 50px;
  border: transparent;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  transition: transform 300ms;
}
.explore__button:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  gap: 17px;
  color: #353535;
  background-color: #EAEAEA;
}

.header {
  font-family: "shrikhand", cursive;
  font-size: 1.5rem;
  position: relative; /* to show shadow */
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 5rem 2rem 7rem 2rem;
}
@media (min-width: 1008px) {
  .nav {
    max-width: 1016px;
    margin: auto;
  }
}
.nav__list {
  counter-reset: liste;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
}
@media (min-width: 1008px) {
  .nav__list {
    flex-direction: row;
  }
}
.nav__element {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  position: relative;
}
.nav__element::before {
  counter-increment: liste 1;
  content: counter(liste) " ";
  background-color: #9356DC;
  padding: 0.1rem 0.6rem;
  border-radius: 20px;
  color: #FFFFFF;
  position: absolute;
  left: -1rem;
}
@media (min-width: 1008px) {
  .nav__element {
    width: 322px;
  }
}
.nav__icon {
  color: #7E7E7E;
  margin-left: 3.4rem;
  margin-right: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 5.5rem 2rem 6.5rem 2rem;
}
@media (min-width: 730px) {
  .cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.cards__link {
  display: block;
}
@media (min-width: 730px) {
  .cards__link {
    flex-basis: 48%;
  }
}
.cards .card {
  display: flex;
  flex-direction: column;
  height: 251px;
  margin-bottom: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  position: relative;
}
.cards .card__badge::before {
  content: "Nouveau";
  color: #008766;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 0.6rem;
  position: absolute;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  height: 29px;
  width: 80px;
  top: 1.5rem;
  right: 1.5rem;
  border-radius: 2px;
}
.cards .card img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.cards .card__content {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0 1.2rem 1.3rem;
  position: relative;
}
.cards .card__content::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: #101010;
  right: 2rem;
  top: 2rem;
}
.cards .card__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.cards .card__subtitle {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 1rem 0 3rem 2.5rem;
}
@media (min-width: 1008px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
}
.footer__title {
  font-family: "shrikhand";
  font-size: 1.8rem;
}
@media (min-width: 1008px) {
  .footer__title {
    order: 2;
  }
}
.footer__link {
  color: #FFFFFF;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 730px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
  }
}
@media (min-width: 1008px) {
  .footer__content {
    gap: 5rem;
    order: 1;
  }
}
.footer__content :nth-child(3) {
  font-weight: 400;
}
.footer__content :nth-child(4) {
  font-weight: 400;
}
.footer__icon {
  margin-right: 0.7rem;
}

/*# sourceMappingURL=style.css.map */
