@use "../utils/variables" as v;
@use "../utils/mixins";

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    $primary-color: #9356DC;
    $secondary-color: #FF79DA;
    $tertiary-color: #99E2D0;
}

html {
    font-size: 62.5%;   /* equivalent of 10px on the root element */
}

.body__container {
    position: relative;
}

