@use "../utils/variables" as v;

@mixin shadow ($size: 0 4px 10px 0, $color: v.$shadow-color, $opacity: 0.25) {
    box-shadow: $size rgba(v.$shadow-color, $opacity);
}

@mixin badge__card {
    content: "Nouveau";
    color: #008766;
    font-size: 1.4rem;
    text-align: center;
    padding-top: .6rem;
    position: absolute;
    background-color: #99E2D0;
    height: 29px;
    width: 80px;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: map-get(v.$border, default)-18px;
}

@mixin underline {
    content: "";
    display: block;
    height: 1rem;
    border-bottom: 3px solid v.$tertiary-color;
    width: 4rem;
}

@mixin btn {
    font-size: 1.6rem;
    color: #FFFFFF;
    width: 218px;
    height: 50px;
    margin-top: 2.7rem;
    border: transparent;
    border-radius: map-get(v.$border, large);
    background: v.$bg-gradient;
    position: relative;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    &:hover::after {
        opacity: 1;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: map-get(v.$border, large);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        background: linear-gradient(200.64deg, lighten(#9356DC, 2) -5.2%, lighten(#FF79DA, 3) 110.74%),
                    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease-out;
    }
    &--cmd {
        margin: 0 0 2.7rem 0;
        width: 186px;
    }
}

@mixin incrementation {
    counter-increment: liste 1;
    content: counter(liste) " ";
    background-color: v.$primary-color;
    padding: .1rem .6rem;
    border-radius: map-get(v.$border, small);
    color: #FFFFFF;
    position: absolute;
    left: -1rem;     
}

@mixin menu__card {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-radius: map-get(v.$border, small);
    background-color: #ffffff;
    box-shadow: 0px 4px 15px 0px rgba(v.$shadow-color, 0.1);
    overflow: hidden;
    animation: menu-card 1s;
    &__content {
        display: flex;
        flex: 1 0 80%;
        transition: flex 250ms ease-out;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 1.5rem;
        overflow: hidden;
        }
    &:hover .menu__card__content {
        flex: 0 0 59%;
    }
    &__title, &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__price {
        display: flex;
        transition: transform 250ms ease-out;
        font-weight: 700;
        padding-top: 4rem;
        width: 5.3rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-color: v.$tertiary-color;
            height: 69px;
            width: 100%;
            left: 5.3rem;
            top: 0;
        }
        &::before {
            content: "\f00C";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            font-size: 1rem;
            padding: 0.3rem 0.4rem;
            z-index: 1;
            border-radius: 50%;
            color: v.$tertiary-color;
            background-color: #ffffff;
            right: -3rem;
            top: 2.6rem;
        }
    }
    &:hover .menu__card__price {
        transform: translateX(-5.3rem);
        position: relative;
    }
}

@mixin heart {
    input[type="checkbox"] {
        display: none;
    }
    label {
        position: absolute;
        font-size: 2rem;
        &::after {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            font-weight: 900;
            opacity: 0;
            background: v.$bg-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            right: 0;
            transition: all 250ms ease-out;
        }
    }
    /*input[type="checkbox"]:checked + label {
        transform: scale(0.9);
    }*/
    input[type="checkbox"]:checked + label::after {
        opacity: 1;
        /*transform: scale(1.1);*/
    }
}