@use "../utils/variables" as v;

@mixin loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    margin-top: 20vh;
    & p {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        margin-left: 15px;
        color: v.$primary-color;
    }
    &__element {
        width: 30px;
        height: 30px;
        border: map-get(v.$border , small)-9px solid;
        border-color: v.$secondary-color;
        border-right-color: v.$tertiary-color;
        border-left-color: v.$tertiary-color;
        position: relative;
        margin: 5rem;
        @include shadow (0 5px 10px 0, v.$shadow-color, 0.35);
        animation: spinner 1s infinite ease-out;
        &::after {
            content: "";
            width: 60px;
            height: 60px;
            top: -21px;
            right: -21px;
            position: absolute;
            border-radius: 50%;
            border: map-get(v.$border, small)-5px solid;
            border-color: v.$primary-color #FFFFFF;
            @include shadow (0 5px 10px 0, v.$shadow-color, 0.35);
        }
    }
    & span {       /* 3 dots after "Chargement" */
        clip-path: inset(0 100% 0 0);
        animation: dots 1.5s steps(4) infinite;
    }
 }

@mixin shadow ($size: 0 4px 10px 0, $color: v.$shadow-color, $opacity: 0.25) {
    box-shadow: $size rgba(v.$shadow-color, $opacity);
}

@mixin badge__card {
    content: "Nouveau";
    color: #008766;
    font-size: 1.4rem;
    text-align: center;
    padding-top: .6rem;
    position: absolute;
    background-color: v.$tertiary-color;
    height: 29px;
    width: 80px;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: map-get(v.$border, default)-18px;
}

@mixin underline {
    content: "";
    display: block;
    height: 1rem;
    border-bottom: 3px solid v.$tertiary-color;
    width: 4rem;
}

@mixin btn {             /* transition opacity to change button color when hover */
    font-size: 1.6rem;
    color: #FFFFFF;
    width: 218px;
    height: 50px;
    margin-top: 2.7rem;
    border: transparent;
    border-radius: map-get(v.$border, large);
    background: v.$bg-gradient;
    position: relative;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: map-get(v.$border, large);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        background: linear-gradient(200.64deg, lighten(#9356DC, 2) -5.2%, lighten(#FF79DA, 3) 110.74%),
                    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease-out;
    }
    &:hover::after {
        opacity: 1;
    }
    &--cmd {
        margin: 0 0 2.7rem 0;
        width: 186px;
    }
}

@mixin incrementation { 
    counter-increment: liste 1;
    content: counter(liste) " ";
    background-color: v.$primary-color;
    padding: .1rem .6rem;
    border-radius: map-get(v.$border, small);
    color: #FFFFFF;
    position: absolute;
    left: -1rem;     
}

@mixin menu__card {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-radius: map-get(v.$border, small);
    background-color: #ffffff;
    box-shadow: 0px 4px 15px 0px rgba(v.$shadow-color, 0.1);
    overflow: hidden;
    animation: menu-card v.$anim-dur backwards;
    @for $i from 1 through v.$num-card { /* generates animation delay for each card element */
        &--#{$i} {
            animation-delay: v.$anim-delay * $i;
         }
    }
    &__content {
        display: flex;
        flex: 1 0 80%;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 1.5rem;
        overflow: hidden;
        transition: flex 250ms ease-out;
        }
    &:hover .menu__card__content {
        flex: 0 0 59%;
    }
    &__title, &__description {     /* the effects on text when no space to display a full text, while hover */
        white-space: nowrap;       /* text remains in a line */
        overflow: hidden;
        text-overflow: ellipsis;   /* 3 dots after in the end of text */
    }
    &__price {
        display: flex;
        font-weight: 700;
        padding-top: 4rem;
        width: 5.3rem;
        position: relative;
        transition: transform 250ms ease-out;
        &::after {
            content: "";
            position: absolute;
            background-color: v.$tertiary-color;
            height: 69px;
            width: 100%;
            left: 5.3rem;
            top: 0;
        }
        &::before {
            content: "\f00C";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            font-size: 1rem;
            padding: 0.3rem 0.4rem;
            z-index: 1;
            border-radius: 50%;
            color: v.$tertiary-color;
            background-color: #ffffff;
            right: -3rem;
            top: 2.6rem;
        }
    }
    &:hover .menu__card__price {
        transform: translateX(-5.3rem);
        position: relative;
    }
}

@mixin heart {
    input[type="checkbox"] {
        display: none;
        &:checked + label i::after {
            opacity: 0;
        }
    }
    label i {
        background: v.$bg-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 2.5rem;
        position: absolute;
        top: 19rem;
        right: 2.5rem;
        &::after {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            font-weight: 500;
            position: absolute;
            background-color: #ffffff;
            right: 0;
            color: #101010;
            opacity: 1;
            transition: opacity 250ms ease-out;
        }
    }
}